/* @import '/footer.css'; */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', Courier, monospace;
    width: 100%;
    background: #ffffff;
}

.body_fixed {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding-left: 125px;
    padding-right: 125px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    color: #121212;
    letter-spacing: -1.8px;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    color: black;
    letter-spacing: -0.6px;
}

.description {
    margin-bottom: 30px;
    width: 91%;
    color: #121212;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
}

.nav_container {
    padding-top: 33px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.logo_img {
    display: block;
    width: 127px;
    height: 21.5px;
}

.nav_btn {
    display: flex;
    column-gap: 60px;
}

.nav_link {
    /* display: inline-block; */
    /* margin-right: 60px; */
    /* width: 0 auto;
    text-align: center; */
    font-size: 18px;
    letter-spacing: -0.54px;
    color: #121212;
    /* background-position: center; */
    text-decoration: none;
}

/* .nav_link:nth-last-child(1) {
    margin-right: 0px;
} */

.nav_link:hover {
    opacity: 0.5;
    text-transform: uppercase;
    text-decoration: underline rgba(18, 18, 18, 1) 1px;
    text-underline-offset: 7px;
}

.burger_btn {
    display: none;
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 101;
    justify-content: end;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.9);
    /* opacity: 0; */
    visibility: hidden;
}

.burger_open {
    /* opacity: 1; */
    visibility: visible;
}

.design1 {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-image: url('../resources/design1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.design1_text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 37%;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.6px;
}

.about_us {
    padding-top: 150px;
    padding-bottom: 150px;
}

.btn1 {
    padding: 20px 40px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    cursor: pointer;
    text-decoration: none;
}

.project {
    margin-bottom: 90px;
}

.project__img {
    display: block;
    width: 100%;
}

.project__title {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #121212;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}

.project__link {
    color: #AD1818;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none
}

.all_project_btn {
    display: inline-block;
    margin-bottom: 150px;
    width: 100%;
    height: 153px;
    border-radius: 5px;
    border: 1px solid #AD1818;
    background: #FFF;
    color: #AD1818;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 153px;
    letter-spacing: -0.9px;
    cursor: pointer;
    text-decoration: none;
}

.all_project_btn:hover {
    color: #FFF;
    background-color: #AD1818;
}

.section_black {
    background-color: #121212;
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 150px 125px 150px 125px;
}

.services_wrapepr {
    margin-bottom: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 81px;
}

.services__name {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    color: #FFF;
    letter-spacing: -0.6px;
}

.list_services {
    position: relative;
    width: calc(50% - 5.5px);
}

.services__img {
    width: 100%;
    margin-bottom: 15px;
}

.services__title {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}

.services_label {
    padding: 5px 20px 5px 20px;
    position: absolute;
    top: 31.5px;
    left: 30px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    border-radius: 5px;
    background-color: #AD1818;
}

.btn_order_service {
    display: inline-block;
    width: 100%;
    height: 153px;
    line-height: 153px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.9px;
    border: #AD1818;
    cursor: pointer;
}

.btn_order_service:hover {
    background-color: #FFF;
    color: #AD1818;
}

.popup_order_service {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.popup_order_service_open {
    /* display: flex; */
    opacity: 1;
    visibility: visible;
}

.content_order_service {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    width: 777px;
    max-height: 100%;
    overflow-y: auto;
    padding: 94px 74px 86px 55px;
    background-color: #FFF;
}

.title_order_service {
    color: #000;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
}

.text_order_service {
    margin-bottom: 60px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
}

.input_order_service {
    margin-bottom: 50px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
    opacity: 0.8;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0px 10px 0px;
}

.input_order_service:focus {
    outline: none;
}

.btn_send_service {
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: 67px;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: #AD1818;
    background-color: #AD1818;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

.btn_send_service:hover {
    background-color: #FFF;
    color: #AD1818;
    border: #AD1818 solid 1px;
}

.order_service_close_btn {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 50px;
    height: 50px;
    background-image: url('../resources/ic-close.png');
    cursor: pointer;
}

.reviews {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #ffffff;
}

.list_reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}

.box-review {
    width: calc(50% - 25px);
}

.box-review:last-child:nth-child(2n+1) {
    width: 75%;
}

.review_title {
    margin-bottom: 14px;
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
}

.review_text {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
}

.gallery_section {
    width: 100%;
    margin: 0 auto;
}

.gallery {
    position: relative;
}

.gallery_title_wrapper {
    position: absolute;
    top: 67px;
    z-index: 100;
}

.gallery_title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    text-transform: uppercase;
}

.gallery_slides {
    position: relative;
    height: 717px;
}

.gallery_slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.gallery_slide_active {
    opacity: 1;
}

.box {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 50%;
}
.box_slide_1 {
    background-image: url('../resources/bad.png');
}

.box_slide_2 {
    background-image: url('../resources/Hall.png');
}

.box_slide_3 {
    background-image: url('../resources/Lounge.png');
}

.box_slide_4 {
    background-image: url('../resources/Kitchen.png');
}

.gallery_control-wrapper {
    position: absolute;
    width: 100%;
    bottom: 162px;
    z-index: 99;
}

.gallery_control {
    display: flex;
}

.gallery_control_prev,
.gallery_control_next {
    width: 40px;
    height: 40px;
    background-image: url('../resources/gallery_control_prev.png');
    background-color: transparent;
    border: none;
}

.gallery_control_prev {
    margin-right: 10px;
    margin-left: -10px;
}

.gallery_control_next {
    transform: rotate(180deg);
}

.gallery_control_prev:hover,
.gallery_control_next:hover {
    opacity: 0.5;
}

.design2_text {
    position: absolute;
    top: 575px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}

.contacts {
    margin-top: 150px;
    margin-bottom: 150px;
}

.text_wrapper {
    margin-top: 74px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 74px;
    column-gap: 104px;
}

.number_phone,
.email {
    position: relative;
    color: #121212;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
}

.number_phone {
    letter-spacing: -1.0px;
    text-decoration: none;
}

.email {
    letter-spacing: -1.8px;
    opacity: 0.5;
    text-decoration: underline rgba(18, 18, 18, 1) 2px;
    text-underline-offset: 15px;
}

.number_phone:before, 
.email:before {
    content: '';
    position: absolute;
    display: block;
    top: -40px;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
}

.number_phone:before {
    background-image: url('../resources/ic_phone.png');
}

.email:before {
    background-image: url('../resources/ic_mail.png');
}

.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #121212;
}

.nav_footer {
    display: flex;
    justify-content: center;
    column-gap: 45px;
}

.nav_footer_link {
    display: block;
    padding: 10px 10px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_footer_link:hover {
    opacity: 0.5;
}

.nav_footer_text {
    margin-top: 77px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
    text-align: center;
}

/* @media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 125px;
        padding-right: 125px;
        padding-top: 33px;
    }
} */

@media (max-width: 959px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        font-size: 50px;
    }
    
    .nav_btn {
        display: none;
    }

    .burger_btn {
        z-index: 102;
        display: block;
        width: 38px;
        height: 21.5px;
        background-image: url('../resources/ic_menu_burger.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .burger_open_btn {
        width: 34px;
        height: 34px;
        background-image: url('../resources/ic-close.png');
    }

    .burger_logo_img {
        margin-bottom: 50px;
        display: block;
        width: 156px;
        height: 26px;
    }

    .burger_content {
        box-sizing: border-box;
        width: 274px;
        height: 100%;
        overflow-y: auto;
        padding: 80px 30px 86px 30px;
        background-color: #FFF;
        transition: transform 0.3s linear;
        transform: translateX(100%);
    }

    .burger_open .burger_content {
        transform: translateX(0);
    }

    .burger_link {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .burger_text {
        margin-top: 90px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.48px;
        opacity: 0.5;
    }

    .burger_phone,
    .burger_email {
        color: #121212;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: -0.6px;
        text-decoration: none;
    }

    .nav_link {
        font-size: 25px;
    }

    .design1 {
        height: 400px;
    }

    .design1_text {
        left: 40px;
        bottom: 30px;
        width: 47%;
    }

    .about_us {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .description {
        width: 80%;
        font-size: 35px;
    }

    .project {
        margin-bottom: 80px;
    }

    .project__title {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .all_project_btn {
        margin-bottom: 100px;
        font-size: 30px;
    }

    .content {
        padding: 150px 15px 120px 15px;
    }
    
    .services_wrapepr {
        margin-bottom: 80px;
    }

    .services__name {
        margin-bottom: 30px;
    }

    .list_services {
        width: calc(50% - 5px);
    }

    .services__title {
        font-size: 25px;
    }

    .services_label {
        font-size: 20px;
    }

    .reviews {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .box-review {
        width: calc(50% - 5px);
    }

    .review_title {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .review_text {
        font-size: 20px;
    }

    .gallery_title_wrapper {
        top: 80px;
    }

    .gallery_title {
        margin-left: 38px;
        font-size: 20px;
    }

    .gallery_slides {
        height: 536px;
    }

    .gallery_control-wrapper {
        width: 50%;
        margin-left: 38px;
        bottom: 152px;
    }

    .design2_text {
        margin-left: 38px;
        top: 388px;
        font-size: 25px;
    }

    .contacts {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .number_phone {
        font-size: 45px;
        line-height: 45px;
    }

    .email {
        font-size: 45px;
        line-height: 45px;
    }

    .nav_footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 449px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    h1 {
        font-size: 30px;
        line-height: 31px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .nav_container {
        padding-top: 31px;
        padding-bottom: 61px;
    }

    .logo_img {
        width: 96px;
        height: 16px;
    }

    .design1 {
        margin-top: 25px;
        height: 304px;
        background-image: url('../resources/design1_mobile.png');
        background-size: cover;
        background-position: 30%;
    }

    .design1_text {
        left: 15px;
        bottom: 15px;
        font-size: 16px;
        width: 80%;
    }

    .about_us {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .description {
        width: 95%;
        font-size: 22px;
    }

    .btn1 {
        padding: 15px 30px;
        font-size: 16px;
    }

    .project {
        margin-bottom: 49px;
    }

    .project__title {
        font-size: 18px;
    }

    .project__link {
        font-size: 16px;
    }

    .all_project_btn {
        margin-bottom: 80px;
        height: 100px;
        font-size: 22px;
        line-height: 100px;
    }

    .content {
        padding: 80px 12px 80px 12px;
    }
    
    .services_wrapepr {
        margin-bottom: 60px;
        gap: 60px;
    }

    .services__name {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .list_services {
        width: 100%;
    }

    .services__img {
        margin-bottom: 10px;
    }

    .services__title {
        font-size: 18px;
    }

    .services_label {
        top: 24px;
        left: 24px;
        font-size: 14px;
    }

    .btn_order_service {
        height: 100px;
        line-height: 100px;
        border-radius: 3.8px;
        font-size: 22px;
        letter-spacing: -0.6px;
    }

    .content_order_service {
        width: 361px;
        padding: 80px 23px 80px 23px;
    }

    .title_order_service {
        margin-bottom: 11px;
        font-size: 25px;
    }

    .text_order_service {
        display: inline-block;
        width: 209px;
        font-size: 14px;
    }

    .input_order_service {
        margin-bottom: 40px;
        font-size: 18px;
    }

    .btn_send_service {
        margin-top: 60px;
    }

    .order_service_close_btn {
        position: absolute;
        right: 30px;
        top: 40px;
        width: 30px;
        height: 30px;
        background-size: contain;
    }

    .reviews {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .list_reviews {
        flex-direction: column;
    }

    .box-review {
        width: 100%;
    }

    .box-review:last-child:nth-child(2n+1) {
        width: 100%;
    }

    .review_title {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .review_text {
        font-size: 16px;
    }

    .gallery_title_wrapper {
        top: 61px;
    }

    .gallery_title {
        margin-left: 0px;
        font-size: 14px;
    }

    .gallery_slides {
        height: 408px;
    }

    .gallery_control-wrapper {
        margin-left: 0px;
        width: 100%;
        bottom: 50%;
    }

    .gallery_control {
        justify-content: space-between;
    }

    .gallery_control_prev,
    .gallery_control_next {
        margin-right: 0px;
        width: 30px;
        height: 30px;
        background-size: contain;
    }

    .design2_text {
        margin-left: 0px;
        top: 296px;
        font-size: 19px;
    }

    .contacts {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .text_wrapper {
        margin-top: 65px;
        flex-direction: column;
        row-gap: 70px;
    }

    .number_phone,
    .email {
        font-size: 35px;
        line-height: 35px;
    }

    .number_phone:before,
    .email:before {
        top: -36px;
        width: 18px;
        height: 18px;
    }

    .email {
        opacity: 1;
        text-decoration: none
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 26px;
    }

    .nav_footer {
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .nav_footer_link {
        font-size: 12px;
    }

    .nav_footer_text {
        margin-top: 31px;
        font-size: 13px;
    }

}






/* .btn {
    margin-top: 30px;
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: white;
    color: red;
    cursor: pointer;
}

.iphones__img {
    width: 400px;
}

.iphone_body {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 80px;
    width: 600px;
    height: 300px;
    background-image: url('../resources/iphone_body.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.iphone_body_text_wrapper {
    color: white;
    text-align: center;

}

/* .iphone_body_text_wrapper h2, h3, p {
    font-size: 16px;
    width: 600px;
} */

/* .btn:hover {
    color: white;
    background-color: red;
}

.item__image {
    width: 384px;
    height: 418px;
    box-sizing: border-box;
}

.item__text {
    width: 384px;
    padding: 24px;
    box-sizing: border-box;
    gap: 10px;
    color: #FFF;
    border-radius: 0 0 32px 32px;
    background-color: #1B1B1B;
}

.item__title {
    margin-bottom: 5px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item__colour {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.item__price {
    margin-bottom: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.item__btn {
    width: 100%;
    height: 66px;
    background: #FFF;
    border-radius: 30px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
} */

/* .container {
    margin: 0 auto;
    padding: 20px; #F1F8FF
    box-sizing: border-box;
    width: 500px;
} */


/* .nav_section2 {
    min-width: 800px;
    background: rgba(34, 34, 35, 0.8);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.25);
}

.nav_container2 {
    margin: 0 auto;
    box-sizing: border-box;
    width: 800px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.logo2 {
    display: block;
    width: 40px;
    height: 40px;
}

.logo_link2 {
    margin-right: 98px;
    display: inline-block;
}

.nav_text2 {
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
}

.nav_link2 {
    display: inline-block;
    margin-right: 40px;
    width: 135px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    color: #E6E6E6;
    text-decoration: none;
}

.nav_link_active2 {
    text-decoration: underline;
    color: #AD1818;
} */